.Leadership{
    background-color: rgb(247, 220, 220);
}

.Leadership h1{
    margin-top: 5%;
    text-align: center;
    color: brown;
}
.Leaders{
    display: inline-block;
    justify-content: space-between;
    margin-top: 5%;
    line-height: 2;
}
.card7, .card8, .card9{
    display: flex;
}
.card7 img{
    width: 40vw;
    height: 50vh;
    border-radius: 50%;
}
.card7 p{
    background: rgb(148, 179, 247);
    border-radius: 15px;
    color: brown;
    height: 20vh;
    margin-top: 7%;  
}
.card8 img{
    width: 40vw;
    height: 50vh;
    border-radius: 50%;
}
.card8 p{
    background: rgb(148, 179, 247);
    border-radius: 15px;
    color: brown;
    height: 20vh;
    margin-top: 8%;
    column-gap: 10%;
}
.card9 img{
    width: 40vw;
    height: 50vh;
    border-radius: 50%;
}
.card9 p{
    background: rgb(148, 179, 247);
    border-radius: 15px;
    color: brown;
    height: 20vh;
    margin-top: 8%;
}
span{
    font-size: 30px;
    color: maroon   ;
}
.Events h1{
    margin-top: 5%;
    color: brown;
    text-align: center;
}
 .image-container img{
    width: 100%;
    height: 100vh;
}
.Gallery-pics{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
}
@-webkit-keyframes slide_animations{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}

}
.Gallery-pics{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animations;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.image-container{
    height: 100px;
    width: 800px;
    position: relative;
    float: left;
}
